extends layout

block content
  h1
    | Whose comments were most favorited
    - if (faver)
      |  by #{faver.name}
    |  in #{titleSuffix(site, category, startDate, endDate)}?
  
  table.results
    tr
      th Favorites
      th User
    - each u in users
      tr
        td.number
          - if (faver)
            a(href = commentsFavoritedUrl(site, category, u.id, faver.id, startDate, endDate)) #{u.favorites_count}
          - else
            a(href = commentsActivityUrl(site, u.id)) #{u.favorites_count}
        td
          a(href = profileUrl(u.id)) #{u.name}
  
  script
    setupInfiniteScroll()