extends layout

block content
  h1 #{postsFindTitle(username, title, tag, reason, commentsCount, favoritesCount, site, category, startDate, endDate)}
  
  table.results
    tr
      th Date
      th Comments
      - if (!reason)
        th Favorites
      th User
      th Post
    - each p in posts
      tr
        td.date
          | #{date(p.created)}
        td.number
          | #{p.comments_count}
        - if (!reason)
          td.number
            a(href = postFavoritesUrl(site, p.id)) #{p.favorites_count}
        td.user
          a(href = profileUrl(p.user_id)) #{p.username}
        td
          a(href = postUrl(site, p.id)) !{titleHtml(p.title, p.deleted)}
          - if (reason)
            .reason !{p.reason}
  
  script.
    setupInfiniteScroll()